*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

input {
  border: 1px solid #ccc;
}

button {
  background-color: #67abdf9f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
